html, body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Index description */
.description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 64, 139);
    color: white;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
}
.description a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    text-decoration: none;
    color: white;
    background-color: rgb(29, 80, 174);
    border-radius: 10px;
    padding: 10px;
}
.description a:hover {
    background-color: rgb(40, 92, 188);
}

/* Index API input container */
.API-input-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: max-content;
        border-radius: 10px;
        background-color: white;
}
.url {
    background-color: rgb(239, 241, 247);
    color: slategray;
    border: 0.9px solid rgb(239, 241, 247);
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding-left: 5px;
}
#searchField {
    background-color: white;
    border: 1px solid rgb(239, 241, 247);
}
#searchButton {
    color: slategray;
    background-color: rgb(239, 241, 247);
    border: 1px solid rgb(239, 241, 247);
}
#copyButton {
    color: slategray;
    background-color: rgb(239, 241, 247);
    border: 1px solid rgb(239, 241, 247);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: rgb(23, 64, 139);
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}
/* Index API showcase */
.API-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.API-url {
    border-radius: 15px;
    background-color: rgb(218, 218, 228);
    padding: 10px;
}

.JSON-container {
    display: flex;
    justify-content: center;
    height:500px;
    width:600px;
    overflow:auto;
    background-color: rgb(239, 241, 247);
    border-radius: 12px;
}

/* write css for doc-container and table */
.doc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 64, 139);
    color: white;
    padding: 20px;
}


