/* Index description */
.description {
    
    border: 2px solid orange;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
padding: 10px;
}

/* Index API input container */
.API-input-container {
    
        border: 2px solid pink;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
}

/* Index API showcase */
.API-container {

    border: 2px solid blue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.API-url {
    
    border: solid 2px red;

    border-radius: 15px;
    background-color: rgb(218, 218, 228);
    padding: 10px;
}

.JSON-container {

    border: 2px solid purple;

    display: flex;
    justify-content: center;
    height:500px;
    width:600px;
    overflow:auto;
}

