<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NBAPI</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">

</head>
<body>
    
    <nav class="nav-container">
        <a href="{% url 'base:index' %}">NBAPI</a>
        <a href="https://github.com/alecnazzy/nbapi" target="_blank">GitHub</a>
    </nav>

    <main>
        <div>
            {% block content %}{% endblock content %}
        </div>
      </main>
</body>

</html>
