{% extends "base/base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBAPI docs</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'docs.css' %}">
    <script src="{% static 'js/index.js' %}"></script>

</head>
<body>
    {% block content %}
    <main>
        <!-- <div class="description-container">
            <h3 class="description">All the data from the 2022-23 NBA regular season, easily accessible through a RESTful API!</h3>
            <h1 class="description">Try it out!</h1>
        </div> -->
        <div class="description-container">
            <h1 class="description">Documentation:</h1>
            <h3 class="description">Note: This API only uses HTTP GET requests and does not require authentication for use.</h3>
        </div>

        <div class="docs-container">
            <div class="section-container">
                
                <!-- Container holding a list of anchor tags to each section -->
                <ul><h2>Contents</h2>
                    <li><a href="#players-content">Players</a></li>
                    <li><a href="#teams-content">Teams</a></li>
                    <li><a href="#points-content">Points</a></li>
                    <li><a href="#assists-content">Assists</a></li>
                    <li><a href="#rebounds-content">Rebounds</a></li>
                    <li><a href="#steals-content">Steals</a></li>
                    <li><a href="#blocks-content">Blocks</a></li>
                    <li><a href="#ft-content">Free Throws</a></li>
                    <li><a href="#twopoint-content">Two Pointers</a></li>
                    <li><a href="#threepoint-content">Three Pointers</a></li>
                    <li><a href="#efg-content">Effective Field Goal</a></li>
                    <li><a href="#ts-content">True Shooting</a></li>
                    <li><a href="#offrating-content">Offensive Rating</a></li>
                    <li><a href="#defrating">Defensive Rating</a></li>
                    <li><a href="#to-content">Turnovers</a></li>
                </ul>
            </div>

            <!-- Container holding an example of each API endpoint -->
            <div class="examples-container">
                <div id="players-content">
                    <div class="about-content">
                        <h1>Players(endpoint)</h1>
                        <p>Returns all NBA players in alphabetical order.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/players</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('players', id="players")</script>
                        <pre id="players"></pre>
                    </div> 

                </div>

                <div id="searchByPlayers-content">
                    <div class="about-content">
                        <h1>Search by player(endpoint)</h1>
                        <p>Returns a specific player.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/players/Stephen Curry</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('players/Stephen Curry', id="searchByPlayer")</script>
                        <pre id="searchByPlayer"></pre>
                    </div> 
                </div>

                <hr>

                <div id="teams-content">
                    <div class="about-content">
                        <h1>Teams(endpoint)</h1>
                        <p>Returns all NBA teams.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/teams</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('teams', id="teams")</script>
                        <pre id="teams"></pre>
                    </div> 
                </div>

                <div id="searchByTeam-content">
                    <div class="about-content">
                        <h1>Search by team(endpoint)</h1>
                        <p>Returns a specific team.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/teams/Golden State Warriors</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('teams/Golden State Warriors', id="searchByTeam")</script>
                        <pre id="searchByTeam"></pre>
                    </div> 
                </div>

                <hr>

                <div id="points-content">
                    <div class="about-content">
                        <h1>Points(endpoint)</h1>
                        <p>Returns leaders in points per game.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/points</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/points', id="points")</script>
                        <pre id="points"></pre>
                    </div> 
                </div>

                <hr>

                <div id="assists-content">
                    <div class="about-content">
                        <h1>Assists(endpoint)</h1>
                        <p>Returns leaders in assists per game.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/assists</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/assists', id="assists")</script>
                        <pre id="assists"></pre>
                    </div> 
                </div>

                <hr>

                <div id="rebounds-content">
                    <div class="about-content">
                        <h1>Rebounds(endpoint)</h1>
                        <p>Returns leaders in rebounds per game.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/rebounds</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/rebounds', id="rebounds")</script>
                        <pre id="rebounds"></pre>
                    </div> 
                </div>

                <hr>

                <div id="steals-content">
                    <div class="about-content">
                        <h1>Steals(endpoint)</h1>
                        <p>Returns leaders in steals per game.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/steals</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/steals', id="steals")</script>
                        <pre id="steals"></pre>
                    </div> 
                </div>

                <hr>

                <div id="blocks-content">
                    <div class="about-content">
                        <h1>Blocks(endpoint)</h1>
                        <p>Returns leaders in blocks per game.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/blocks</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/blocks', id="blocks")</script>
                        <pre id="blocks"></pre>
                    </div> 
                </div>

                <hr>

                <div id="ft-content">
                    <div class="about-content">
                        <h1>Free Throws(endpoint)</h1>
                        <p>Returns leaders in free throw attempts per game.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/ft</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/ft', id="ft")</script>
                        <pre id="ft"></pre>
                    </div> 
                </div>

                <div id="ft%-content">
                    <div class="about-content">
                        <h1>Free Throws Percentage(endpoint)</h1>
                        <p>Returns leaders in free throw percentage per game.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/ft%</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/ft%', id="ft%")</script>
                        <pre id="ft%"></pre>
                    </div> 
                </div>

                <hr>

                <div id="twopoint-content">
                    <div class="about-content">
                        <h1>Two Point Attempts(endpoint)</h1>
                        <p>Returns leaders in two point attempts per game.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/twopoint</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/twopoint', id="twopoint")</script>
                        <pre id="twopoint"></pre>
                    </div> 
                </div>
                
                <div id="twopoint%-content">
                    <div class="about-content">
                        <h1>Two Point Percentage(endpoint)</h1>
                        <p>Returns leaders in two point percentage per game.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/twopoint%</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/twopoint%', id="twopoint%")</script>
                        <pre id="twopoint%"></pre>
                    </div> 
                </div>

                <hr>

                <div id="threepoint-content">
                    <div class="about-content">
                        <h1>Three point Attempts(endpoint)</h1>
                        <p>Returns leaders in three point attempts per game.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/threepoint</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/threepoint', id="threepoint")</script>
                        <pre id="threepoint"></pre>
                    </div> 
                </div>

                <div id="threepoint%-content">
                    <div class="about-content">
                        <h1>Three Point Percentage(endpoint)</h1>
                        <p>Returns leaders in three point percentage per game.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/threepoint%</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/threepoint%', id="threepoint%")</script>
                        <pre id="threepoint%"></pre>
                    </div> 
                </div>

                <hr>

                <div id="efg-content">
                    <div class="about-content">
                            <h1>Effective field goal(endpoint)</h1>
                        <p>Returns leaders in effective field goal percentage per game. EFG is calculated to show what percentage a
                        two point shot is worth compared to a three point shot. More information can be found 
                        <a href="https://www.basketball-reference.com/about/glossary.html" target="_blank">here.</a>
                        </p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/efg%</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/efg%', id="efg")</script>
                        <pre id="efg"></pre>
                    </div> 
                </div>

                <hr>

                <div id="ts-content">
                    <div class="about-content">
                        <h1>True shooting(endpoint)</h1>
                        <p>Returns leaders in true shooting percentage per game. TS is calculated to show what percentage a
                            player scores on all shots taken. More information can be found 
                            <a href="https://www.basketball-reference.com/about/glossary.html" target="_blank">here.</a>
                            </p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/ts%</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/ts%', id="ts")</script>
                        <pre id="ts"></pre>
                    </div> 
                </div>

                <hr>

                <div id="offrating-content">
                    <div class="about-content">
                        <h1>Offensive rating(endpoint)</h1>
                        <p>Returns leaders in offensive rating per game. Offensive rating is calculated to show how many points a player
                        scores per 100 possessions. More information can be found
                        <a href="https://www.basketball-reference.com/about/glossary.html" target="_blank">here.</a>
                        </p>
                    </div>
                        <div class="example-url">
                            <h4 class="example-get">GET</h4>
                            <h4 class="url">http://127.0.0.1:8000/api/leaders/offrating</h4>
                        </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/offrating', id="offrating")</script>
                        <pre id="offrating"></pre>
                    </div> 
                </div>

                <hr>

                <div id="defrating-content">
                    <div class="about-content">
                        <h1>Defensive rating(endpoint)</h1>
                        <p>Returns leaders in defensive rating per game. Defensive rating is calculated to show how many points a player 
                        allows per 100 possessions. More information can be found
                        <a href="https://www.basketball-reference.com/about/glossary.html" target="_blank">here.</a>
                        </p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/defrating</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/defrating', id="defrating")</script>
                        <pre id="defrating"></pre>
                    </div> 
                </div>

                <hr>

                <div id="to-content">
                    <div class="about-content">
                        <h1>Turnovers(endpoint)</h1>
                        <p>Returns leaders in turnovers per game.</p>
                    </div>
                    <div class="example-url">
                        <h4 class="example-get">GET</h4>
                        <h4 class="url">http://127.0.0.1:8000/api/leaders/turnovers</h4>
                    </div>
                    <div class="JSON-container">
                        <script>getStats('leaders/turnovers', id="to")</script>
                        <pre id="to"></pre>
                    </div> 
                </div>

            </div>
        </div>
    </main>
    {% endblock content %}
</body>
</html>