{% extends "base/base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBAPI index</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">

</head>
<body>
    {% block content %}
<main>
    <div class="description-container">
        <h3 class="description">All the data from the 2022-23 NBA regular season, easily accessible through a RESTful API!</h3>
        <h3 class="description"><a href="https://github.com/alecnazzy/nbapi" target="_blank">GitHub repository</a> </h3>
        <h1 class="description">Try it out!</h1>
    </div>
    
    <div class="API-input-container">
        
        <h4 class="url">http://127.0.0.1:8000/api/</h4>
        <input id="searchField" name="search" type="text" value="players/Stephen Curry">
            <button id="searchButton" onclick="getStats()">Search</button>
            <button id="copyButton" onclick="copyToClipboard()">Copy</button>
            <div id="contentArea"></div>
        </input>
    </div>
    <p>Try <code>http://127.0.0.1:8000/api/</code> for an overview of the API</p>
    
    <div class="API-container">
        <script>
            async function getStats() {
                const _searchField = document.getElementById('searchField');
                URL = 'http://127.0.0.1:8000/api/'+_searchField.value;
                const response = await fetch(URL);
                const data = await response.json();
                console.log(data);
                document.getElementById('stats').innerHTML = JSON.stringify(data, null, 2);
            }
            async function copyToClipboard() {
                var _searchField = document.getElementById("searchField");
                var copiedURL = 'http://127.0.0.1:8000/api/'+_searchField.value;
                navigator.clipboard.writeText(copiedURL);
                alert("Copied text: " + copiedURL.toString());
            }
            window.onload = function(){
            document.getElementById('searchButton').click();
            }
        </script>
 
        <div class="JSON-container">
            <pre id="stats"></pre>
        </div> 
    </div>

</main>
{% endblock content %}
</body>
</html>