{% extends "base/base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>NBApi index</title>
</head>
<body>
    {% block content %}

    <h1>NBApi is a website that displays NBA stats for the 2022-23 regular season.</h1>

    <!-- <ul>
        {% for stat in stats %}
            <li>{{ stat }}</li>
        {% endfor %}
    </ul> -->

    <script>
        URL = 'http://127.0.0.1:8000/api/stats/';
        async function getStats() {
            const response = await fetch(URL);
            const data = await response.json();
            console.log(data);
            document.getElementById('stats').innerHTML = JSON.stringify(data, null, 2);
        }
        getStats();
    </script>

<div style="height:500px;width:600px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
    <pre id="stats">
    </pre>
</div>
    
{% endblock content %}
</body>
</html>







